body{
background:#f4f7fc;
font-family:Arial,sans-serif;
}

.page-container{
min-height:100vh;
padding:40px;
}

.feedback-card{
max-width:900px;
margin:auto;
background:white;
padding:40px;
border-radius:16px;
box-shadow:
0 4px 20px rgba(0,0,0,0.08);
}

.page-title{
font-size:34px;
font-weight:700;
color:#1e293b;
margin-bottom:10px;
}

.sub-title{
color:#64748b;
margin-bottom:25px;
}

.student-box{
background:#eff6ff;
padding:15px;
border-radius:10px;
margin-bottom:25px;
}

.question-card{
background:#f8fafc;
padding:18px;
border-radius:10px;
margin-bottom:15px;
border-left:
4px solid #2563eb;
}

.question-text{
font-size:16px;
font-weight:500;
text-align:left;
margin-bottom:10px;
}

.submit-btn{
background:#2563eb;
border:none;
padding:12px 30px;
font-size:18px;
border-radius:10px;
color:white;
}

.submit-btn:hover{
background:#1d4ed8;
}

.logout-btn{
background:#ef4444;
border:none;
color:white;
padding:10px 20px;
border-radius:10px;
}

.dashboard-card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:
0 4px 12px rgba(0,0,0,0.08);
text-align:center;
}
.dashboard-card h1{
font-size:40px;
font-weight:700;
color:#2563eb;
}

.dashboard-card h5{
font-weight:600;
color:#475569;
}

.dashboard-card{
transition:0.3s;
}

.dashboard-card:hover{
transform:translateY(-4px);
}
.erp-layout{
display:flex;
min-height:100vh;
background:#f1f5f9;
}

.sidebar{
width:260px;
background:#0f172a;
color:white;
padding:20px;
}

.sidebar-logo{
text-align:center;
margin-bottom:30px;
}

.sidebar-logo img{
width:80px;
margin-bottom:10px;
}

.sidebar h2{
font-size:18px;
font-weight:600;
text-align:center;
line-height:1.5;
}

.sidebar-menu{
margin-top:30px;
}

.menu-item{
padding:15px;
border-radius:10px;
margin-bottom:10px;
cursor:pointer;
background:#1e293b;
transition:0.3s;
}

.menu-item:hover{
background:#2563eb;
}

.main-content{
flex:1;
padding:30px;
}

.header-card{
background:white;
padding:25px;
border-radius:16px;
box-shadow:
0 4px 12px rgba(0,0,0,0.08);
margin-bottom:25px;
}

.college-header{
display:flex;
align-items:center;
gap:20px;
padding-bottom:20px;
border-bottom:
2px solid #e2e8f0;
margin-bottom:25px;
}

.college-header img{
width:90px;
}

.college-header-center{
text-align:center;
flex:1;
}

.college-header-center h2{
font-size:28px;
font-weight:700;
color:#0f172a;
margin-bottom:8px;
}

.college-header-center h5{
font-size:18px;
color:#2563eb;
margin-bottom:5px;
}

.college-header-center p{
color:#64748b;
}

.college-footer{
margin-top:40px;
text-align:center;
padding-top:20px;
border-top:
1px solid #cbd5e1;
color:#64748b;
font-size:14px;
}